/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #A1E51C; /* yellow green*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2D4008;/*darkgreen*/
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*.mission{
    width: 300px;
    border: 25px green;
    padding: 25px;
    margin: 25px;
}*/

.mission{
    margin:30px;
    background-color:#ffffff;
    opacity:0.6;
    filter:alpha(opacity = 60);
}

body{
    background-color:#C0FF52;
    margin:12px;
}
.container{
    position:relative;
}

footer{
    text-align:center;
}
#img{
    position: relative;
    float-right:400px;
    width:  600px;
    height: 600px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.health{
    line-height:2.5px;
    
}

#form{
   position:absolute;
   left:700px;
   top:800px;
}

textarea{
    position:absolute;
    left:700px;
    top:950px;
}
button{
    position:absolute;
    left:1020px;
    top:1050px;
}